.nav-link:hover {
    color: aqua;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    background-color: rgb(143, 37, 37);
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}